In [56]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [57]:
df = pd.read_csv("hiring.csv")

In [58]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

### Converting string values of experience column to numeric

In [59]:
def convert_experience_to_numeric(x):
    try:
        return w2n.word_to_num(str(x)) if x != 'NaN' else float('nan')
    except ValueError:
        return float('nan')

In [60]:
df['experience'] = df['experience'].apply(convert_experience_to_numeric)

### filling missing values of experience column

In [61]:
experience_median = df['experience'].median()

In [62]:
df['experience'] = df['experience'].fillna(experience_median)

### filling missing values of test_score_column

In [63]:
test_score_median = df['test_score(out of 10)'].median()

In [64]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(test_score_median)

### column renaming

In [65]:
df = df.rename(columns={"salary($)":"salary",'test_score(out of 10)':'test_score','interview_score(out of 10)':'interview_score'})

In [66]:
df

   experience  test_score  interview_score  salary
0         6.0         8.0                9   50000
1         6.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

### model fitting

In [54]:
reg = linear_model.LinearRegression()

In [67]:
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

### Predicting the salary for a candidate with 12 years of experience and scoring 10 marks in both the test and interview.

In [75]:
predict_value = np.array([[12,10,10]])

In [76]:
reg.predict(predict_value)

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([88227.64227642])